.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env

# Large raw IKEA dataset
data/raw/IKEA_product_catalog.csv

data/processed/ikea_cleaned.csvdata/processed/ikea_cleaned.csv
data/processed/ikea_cleaned.csv
